// All imported SCSS partials

@import "./partials/_reset";      // Normalize
@import "./partials/_mixins";     // Custom mixins to assist in development
@import "./partials/_grid";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/_fonts";      // Decalaring fonts per MWF guidelines
@import "./partials/_variables";  // Declare global variables here
@import "./partials/_typography"; // Declaring all typography

.xlheader{
    font-size: 12px;
    position: relative;
    &__primary{
        background: $bg--primaryheader;
        padding: 15px 20px;
        color: $text--white;
        font-family: $segoe;
        display: flex;
    }
    &__label{
        vertical-align: top;
        margin-right: 5px;
    }
    &__onoffbtn{
        background: url(./assets/sprite.png) no-repeat -1px -53px transparent;
        width: 40px;
        height: 20px;
        border: none;
        text-align: left;
        font-size: 12px;
        text-indent: -3px;
        vertical-align: middle;
        color: $bg--primaryheader;
    }
    &__leftlistcont{
        flex: 3;
    }
    &__leftlist{
        display: inline-block;
        margin-right: 20px;
    }
    &__lefticon{
        background: url(./assets/sprite.png) no-repeat 0 0 transparent;
        width: 15px;
        height: 13px;
        display: block;
    }
    &__center{
        flex: 3;
        margin: 0 auto;
        position: relative;
    }
    &__tbl{
        position: relative;
        flex: 2;
    }
    &__rightlistcont{
        flex: 3;
    }
    &__rightlist{
        display: inline-block;
        margin-left: 20px;
    }
    &__second{
        background: #ebe9e6;
        padding: 5px 20px;
        display: flex;
    }
    &__scndnav{
        flex: 8;
    }
    &__scndlftlist{
        display: inline-block;
    }
    &__scndlftlink{
        text-decoration: none;
        margin-right: 25px;
        color: #333333;
        font-family: $segoe;
        font-size: 14px;
        padding-bottom: 5px;
    }
    &__scndlftlink:hover{
        border-bottom: solid 3px $bg--primaryheader;
    }
    &--linkactive{
        border-bottom: solid 3px $bg--primaryheader;
    }
    &__scndrtlistcont{
        flex: 4;
    }
    &__scndrtlist{
        display: inline-block;
        margin-left: 25px;
    }
    &__scndrtlink{
        text-decoration: none;
        color: #333333;
        float: left;
    }
    &__scndrticon{
        background: url(./assets/sprite.png) no-repeat 0 0 transparent;
        width: 26px;
        height: 23px;
        display: inline-block;
    }
    &__scndrtbtn{
        background: $bg--white!important;
        padding: 5px 10px !important;
        border: none;
        font-size: 14px;
        float: left;
    }
    &__btnicon{
        width: 16px;
        height: 16px;
        background: url(./assets/sprite.png) no-repeat 0 0 transparent;
        float: left;
        margin-right: 10px;
    }
    &__third{
        background: #ebe9e6;
        padding: 5px 5px 5px 0;
        font-size: 10px;
        float: left;
        width: 99.9%;
        position: absolute;
    }
    &__thdcont{
        border-right: solid 1px #DFDDDA;
        padding-left: 5px;
        width: 10%;
        float: left;
        min-height: 95px;
        position: relative;
    }
    &__thdbtn{
        background: transparent;
        color: #333333;
        font-size: 10px;
        padding: 3px 0 !important;
        &:hover{
            background: #a6a4a1;
            color: $text--white;
        }
    }
    &__thdbtnicon{
        width: 16px;
        height: 16px;
        background: url(./assets/sprite.png) no-repeat 0 0 transparent;
        float: left;
        margin-right: 5px;
    }
    &__select{
        border-radius: 0;
        background: $bg--white;
        font-size: 11px;
        color: #63626C;
        padding: 5px;
        border: solid 1px #DFDDDA;
    }
    &__thdicon{
        width: 16px;
        height: 16px;
        background: url(./assets/sprite.png) no-repeat 0 0 transparent;
        float: left;
    }
    &__thdlink{
        margin: 5px 0px 5px 10px;
        display: inline-block;
        &:hover{
            background: #a6a4a1;
        }
    }
    &__thdheading {
        font-size: 11px;
        text-align: center;
        position: absolute;
        width: 97%;
        bottom: 0;
        font-weight: normal;
        color: #333;
    }
    &--insamecolumn{
        float: left;
        width: 60%;
        border-right: solid 1px #DFDDDA;
        margin-right: 3px;
    }
    &--editingcolumn{
        float: left;
    }
}
.icon{
    &--undo{
        background: url(./assets/xlsprite.png) no-repeat -329px -341px;
    }
    &--redo{
        background: url(./assets/xlsprite.png) no-repeat -136px -357px;
    }
    &--chat{
        background-position: -273px -197px;
    }
    &--share{
        background-position: -73px -337px;
    }
    &--comments{
        background-position: -38px -336px;
    }
    &--paste{
        background-position: -5px -187px;
        width: 28px;
        height: 30px;
        margin: 0 auto 10px;
        display: block;
        float: none;
    }
    &--cut{
        background-position: -391px -91px;
    }
    &--copy{
        background-position: -390px -128px;
    }
    &--formatpainter{
        background-position: -336px -82px;
    }
    &--incfont{
        background-position: -311px -371px;
    }
    &--dcsfont{
        background-position: -375px -110px;
    }
    &--bold{
        background-position: -381px -272px;
    }
    &--italic{
        background-position: -201px -384px;
    }
    &--underline{
        background-position: -319px -353px;
    }
    &--downarrow{
        background: url('./assets/xlsprite.png') no-repeat -392px -20px;
        width: 5px;
        height: 3px;
        margin-top: 5px;
    }
    &--border{
        background: url('./assets/xlsprite.png') no-repeat -399px -1px;
    }
    &--paint{
        background-position: -145px -355px;
    }
    &--textcolor{
        background-position: -363px -379px;
    }
    &-aln{
        &--top{
            background-position: -386px -202px;
            height: 7px;
        }
        &--middle{
            background-position: -386px -202px;
            height: 7px;
            margin-top: 3px;
        }
        &--bottom{
            background-position: -386px -202px;
            height: 7px;
            margin-top: 6px;
        }
        &--left{
            background-position: -164px -372px;
            height: 10px;
        }
        &--center{
            background-position: -386px -202px;
            height: 10px;
        }
        &--right{
            background-position: -373px -94px;
            height: 10px;
        }
    }
    &--super{
        background-position: -237px -349px;
    }
    &--frmtleft{
        background: url('./assets/xlsprite.png') no-repeat -382px -38px;
        height: 14px;
    }
    &--frmtright{
        background: url('./assets/xlsprite.png') no-repeat -382px -56px;
        height: 14px;
    }
    &--wraptext{
        background: url('./assets/xlsprite.png') no-repeat -312px -341px;
	}
    &--mergencenter{
        background: url('./assets/xlsprite.png') no-repeat -393px -325px;
    }
    &--dollar{
        background: url('./assets/xlsprite.png') no-repeat -157px -357px;
        width: 9px;
    }
    &--percentage{
        background: url('./assets/xlsprite.png') no-repeat -298px -359px;
    }
    &--comma{
        background: url('./assets/xlsprite.png') no-repeat -176px -358px;
        width: 9px;
    }
    &--frmtnbrleft{
        background: url('./assets/xlsprite.png') no-repeat -244px -359px;
    }
    &--frmtnbright{
        background: url('./assets/xlsprite.png') no-repeat -275px -341px;
    }
    &--cndtlfrmt{
        background: url('./assets/xlsprite.png') no-repeat -247px -108px;
        width: 28px;
        height: 22px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    &--frmtastbl{
        background: url('./assets/xlsprite.png') no-repeat -71px -223px;
        width: 30px;
        height: 30px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    &--cellstlyes{
        background: url('./assets/xlsprite.png') no-repeat -105px -221px;
        width: 30px;
        height: 30px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    &-tbl{
        &--insert{
            background: url('./assets/xlsprite.png') no-repeat -245px -210px;
            width: 32px;
            height: 22px;
            float: none;
            display: block;
            margin: 0 auto;
        }
        &--delete{
            background: url('./assets/xlsprite.png') no-repeat -37px -226px;
            width: 32px;
            height: 22px;
            float: none;
            display: block;
            margin: 0 auto;
        }
        &--frmt{
            background: url('./assets/xlsprite.png') no-repeat -105px -226px;
            width: 32px;
            height: 22px;
            float: none;
            display: block;
            margin: 0 auto;
        }
    }
    &--autosum{
        background: url('./assets/xlsprite.png') no-repeat -335px -359px;
        width: 14px;
        height: 16px;
    }
    &--fill{
        background: url('./assets/xlsprite.png') no-repeat -399px -163px;
        width: 16px;
        height: 16px;
    }
    &--clear{
        background: url('./assets/xlsprite.png') no-repeat -381px -127px;
        width: 16px;
        height: 16px;
    }
    &--ideas{
        background: url('./assets/xlsprite.png') no-repeat -176px -325px;
        width: 22px;
        height: 28px;
        display: block;
        float: none;
        margin: 0 auto 5px;
    }
    &--sortnfilter{
        background: url('./assets/xlsprite.png') no-repeat -274px -276px;
        width: 30px;
        height: 27px;
        display: block;
        float: none;
        margin: 0 auto 5px;
    }
    &--findnselect{
        background: url('./assets/xlsprite.png') no-repeat -103px -290px;
        width: 31px;
        height: 31px;
        display: block;
        float: none;
        margin: 0 auto 5px;
    }
}
.user{
    &--profile{
        border-radius: 50%;
        border: solid 2px #7C5493;
        padding: 1px 5px;
        font-size: 12px;
        text-align: center;
    }
}
.xlbody{
    &__left{
        width: 70%;
        overflow: auto;
    }
    &__table{
        border-collapse: collapse;
        width: 1355px;
        font-size: 14px;
    }
    &__tblhead{
        background: #edebe9;
    }
    &__headcol{
        width: 5%;
        border: solid 1px #dfdfdf;
    }
    &__tblbody{
        background: $bg--white;
    }
    &__bodycol{
        width: 5%;
        border: solid 1px #dfdfdf;
        padding: 5px;
    }
    &__bodyrow:nth-child(even){
        background: #EDEEEB;
    }
    &__bodycol:first-child{
        background: #e9e9e7;
    }
}